@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  scroll-behavior: smooth;
}

.icon{
  border-radius:50%;
  border:7px solid ;
}

.btn {
  @apply font-bold py-2 px-4 rounded hover:opacity-80 transition-all duration-300
}

.link{
  @apply hover:text-orange-400 transition-all duration-300
}

.secondary-title{
  @apply text-3xl font-bold
}